/* 네비게이션바 = 네비바 */
/* 네비게이션바 위에 상단바(로그인/회원가입) = 상단바 */


/* 상단바 */
.top-nav {
    background-color: white; /* 상단 메뉴 배경을 하얗게 */
    padding: 10px 0; /* 상단 메뉴 패딩 */
    margin-right: 10px; /* 오른쪽 여백 설정 (원하는 값으로 조정 가능) */
}

/* 상단바 링크 스타일 */
.top-nav a {
    font-size: 10px; /* 링크 글자 크기 설정 (원하는 크기로 조정 가능) */
    color: white !important; /* 링크 글자색을 검정색으로 설정 */
}

.top-nav a {
    color: black; /* 링크 색상을 검정색으로 설정 */
    margin-right: 15px; /* 링크 간격 */
}

/* 네비바 */
/* 네비게이션 바 배경색을 하얗게 */
.navbar {
    background-color: black; /* 네비게이션 바 배경을 하얗게 */
    border-color: transparent; /* 경계선을 없애기 */
}

/* 오른쪽 메뉴에 여백 추가 */
.navbar .navbar-nav {
    margin-right: 30px; /* 오른쪽 여백 설정 (원하는 값으로 조정 가능) */
}

/* 네비게이션 바의 링크 색상 설정 */
.navbar .navbar-nav > li > a {
    font-weight: bold;
    color: #585858; /* 링크 색상을 검정색으로 설정 */
    position: relative; /* 후속 가상 요소의 위치를 위해 relative 설정 */
    padding: 5px 15px; /* 패딩 추가 */ /* 글자간의 간격 */
    display: inline-block; /* 인라인 블록으로 설정하여 너비 조정 가능 */
}

/* 링크에 마우스를 올렸을 때 색상 변경 */
.navbar .navbar-nav > li > a:hover {
    color: black; /* 원하는 색상으로 변경 */
    background-color: white; /* 배경색을 원하는 색상으로 변경 */
}

/* 링크에 마우스를 올렸을 때 하단 게이지 추가 */
.navbar .navbar-nav > li > a::after {
    content: ""; /* 가상 요소 생성 */
    display: block; /* 블록 요소로 설정 */
    height: 2px; /* 게이지의 높이 */
    background-color: darkblue; /* 게이지 색상 */
    width: 100%; /* 초기 너비는 0으로 설정 */
    transition: transform 0.3s; /* 너비 변경 시 애니메이션 효과 */
    position: absolute; /* 위치 절대 설정 */
    bottom: 0; /* 하단에 위치 */
    left: 0; /* 왼쪽에 위치 */
    transform: scaleX(0); /* 초기 상태에서 가로 스케일을 0으로 설정 */
}

/* 호버 시 게이지가 채워지는 효과 */
.navbar .navbar-nav > li > a:hover::after {
    transform: scaleX(1); /* 호버 시 가로 스케일을 1로 설정하여 길이 조정 */
}

/* 선택된 메뉴 항목의 색상 설정 */
.navbar .navbar-nav > li.active > a {
    color: black; /* 선택된 메뉴 항목의 색상을 검정색으로 설정 */
    background-color: black; /* 선택된 메뉴 항목의 배경색 설정 (필요에 따라 변경) */
}