/* 네비게이션바 = 네비바 */
/* 네비게이션바 위에 상단바(로그인/회원가입) = 상단바 */

/* 상단바 */
.top-nav {
    background-color: white; /* 상단 메뉴 배경을 하얗게 */
    padding: 10px 0; /* 상단 메뉴 패딩 */
    margin-right: 10px; /* 오른쪽 여백 설정 (원하는 값으로 조정 가능) */
}

/* 상단바 링크 스타일 */
.top-nav a {
    font-size: 15px; /* 링크 글자 크기 설정 (원하는 크기로 조정 가능) */
    color: black; /* 링크 색상을 검정색으로 설정 */
    margin-right: 15px; /* 링크 간격 */
}

/* 네비바 */
/* 네비게이션 바 배경색을 검정색으로 설정 */
.navbar {
    background-color: white; /* 네비게이션 바 배경을 하얀색으로 설정 */
    border-color: transparent; /* 경계선을 없애기 */
}

/* 오른쪽 메뉴에 여백 추가 */
.navbar .navbar-nav {
    margin-right: 30px; /* 오른쪽 여백 설정 (원하는 값으로 조정 가능) */
    display: flex; /* Flexbox 설정 */
    align-items: center; /* Flexbox 아이템을 수직 가운데 정렬 */
}

/* 네비게이션 바의 링크 스타일 설정 */
.navbar .navbar-nav > li > a {
    font-weight: bold; /* 폰트 두께를 굵게 설정 */
    color: #585858; /* 링크 색상을 회색으로 설정 */
    position: relative; /* 후속 가상 요소의 위치를 위해 relative 설정 */
    display: inline-block; /* 인라인 블록으로 설정하여 너비 조정 가능 */
    text-decoration: none; /* 밑줄 제거 */
    margin: 0; /* 마진 초기화 */
}

/* 링크는 문자 */
/* 링크에 마우스를 올렸을 때 링크 색상 변경 */
.navbar .navbar-nav > li > a:hover {
    color: black; /* 텍스트 색상을 검정색으로 변경 */
}

/* hover를 사용하여 글자 아래 밑줄 생기게 */
/* after 가상요소 설정*/
.navbar .navbar-nav > li > a:after{
    display:block;
    content: '';
    border-bottom: solid 2px blueviolet;
    transform: scaleX(0);
    /*transform-origin: left; : 게이지가 왼쪽부터 나타나게*/
    transition: transform 250ms ease-in-out;
}

/* 링크에 마우스를 올렸을 때 after의 가상요소가 실행됨 */
.navbar .navbar-nav > li > a:hover:after{
    transform: scaleX(1);
}
