* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar {
    width: 100%; /* 부모 요소의 전체 너비를 차지 */
    height: 50px; /* 고정된 높이 */
    text-align: center; /* 텍스트 중앙 정렬 */
    max-width: 100%; /* 최대 너비를 100%로 설정 */
    background-position: center; /* 배경 중앙 정렬 */
    background-size: cover; /* 배경 이미지를 요소의 크기에 맞게 조정 */
    background-color: black; /* 배경 색상 */
    position: absolute; /* 절대 위치 설정 */
    z-index: 1; /* 쌓임 순서 */
    margin: 0; /* 기본 마진 제거 */
    padding: 0; /* 기본 패딩 제거 */
}