<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css"> <!-- 외부 CSS 파일 링크 -->
</head>

<body>

<!-- 상단 메뉴 -->
<!-- 네비게이션 보다 높게 -->
<div class="top-nav text-right">
  <a href="#">로그인</a>
  <a href="#">회원가입</a>
</div>

<!-- 네비게이션 바 -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">METI clinic</a>
    </div>

    <!-- 오른쪽 메뉴 -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">메티레이저 제모</a></li>
      <li><a href="#">젠틀맥스프로플러스</a></li>
      <li><a href="#">시술비용</a></li>
      <li><a href="#">병원소개</a></li>
      <li><a href="#">젠맥프플 전문시술의원</a></li>
      <li><a href="#">예약안내</a></li>
    </ul>
  </div>
</nav>

</body>
</html>
