<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">
<!--  <link rel="stylesheet" href="/static/css/styles.css">-->
</head>
<body>

<!-- headerFragment 선언 -->
<div th:fragment="headerFragment">

  <div class="top-nav text-right">
    <a href="#">로그인</a>
    <a href="#">회원가입</a>
  </div>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="#">웰컴 페이지</a>
      </div>

      <!-- 오른쪽 메뉴 -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/apage">A:특수치료</a>
          <ul class="dropdown">
            <li><a href="#">스킨부스터</a></li>
            <li><a href="#">레이저 제모</a></li>
          </ul>
        </li>

        <li><a href="/bpage">B:병원소개</a>
          <ul class="dropdown">
            <li><a href="#">의료진 소개</a></li>
            <li><a href="#">피부과 특별함</a></li>
          </ul>
        </li>

        <li><a href="/cpage">C:커뮤니티</a>
        <ul class="dropdown">
          <li><a href="/cone">공지사항</a></li>
          <li><a href="#">후기게시판</a></li>
          <li><a href="#">자유게시판 </a></li>
        </ul>
        </li>

      </ul>
    </div>
  </nav>

</div>

</body>
</html>