<!DOCTYPE html>

<!--Thymeleaf, ConfigFragment 선언-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="ConfigFragment">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
  <title></title>

  <!--Common CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link th:inline="css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
</html>